:this {
    width: 100px;
    height: 100px;
    background: #232329;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}